<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<div class="example-container mat-elevation-z8">
  @if (loading) {
  <div class="example-loading-shade">
    @if (loading) {
  <mat-spinner></mat-spinner>
  }
  </div>
  }
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Ex. ium" #input>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort >
    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Full Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element"> <i style="font-size:24px" class='fa fa-trash-o' (click)="openDialogDeleteActor('0ms', '0ms', element)"></i></td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    (page)="onPageChange($event)"
    [length]="resultsLength"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 20, 50, 100]"
    showFirstLastButtons>
  </mat-paginator>
</div>
<mat-divider style="margin: 10px auto;"></mat-divider>
<div>
  <div class="container mx-auto px-14">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Add Actor</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="actorForm">
          <mat-form-field class="example-full-width">
            <mat-label>Actor Full Name</mat-label>
            <input type="text" matInput [formControl]="fullname" placeholder="Ex. Goodfellas">
            @if (fullname.hasError('email') && !fullname.hasError('required')) {
            <mat-error>Please enter a valid Actor full name</mat-error>
            }
            @if (fullname.hasError('required')) {
            <mat-error>Movie name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
<!--          <mat-form-field class="example-full-width">-->
<!--            <mat-label>Year</mat-label>-->
<!--            <input type="text" matInput [formControl]="year" placeholder="Ex. 2007">-->
<!--            @if (year.hasError('email') && !year.hasError('required')) {-->
<!--            <mat-error>Please enter a valid year</mat-error>-->
<!--            }-->
<!--            @if (year.hasError('required')) {-->
<!--            <mat-error>Year is <strong>required</strong></mat-error>-->
<!--            }-->
<!--          </mat-form-field>-->
          <section>
            <button type="submit" (click)="openDialogCreateActor('0ms', '0ms')" mat-raised-button>Save</button>
          </section>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
